@import "libs/normalize";
// @import "libs/skeleton";
@import "util";

body{
	min-height:100vh;
	background:whitesmoke;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	& *{
		font-family: 'Roboto', sans-serif;
	}
}

.main-container{
	min-height:100vh;
	width:100%;
	background: rgba(102, 149, 134,.05);
}

.info-bar{
	background:darken(#708090,30%);
	padding:5px;
	lost-utility: clearfix;
	text-transform:capitalize;
	width:100%;
	box-shadow: 5px 5px 5px rgba(59, 43, 43, 0.3);
	& > a{
		text-decoration:none;
	}
}

.main-header, .main-content-wrapper, .main-footer {
  flex: 1 100%;
}

.main-header{
	width:100%;
	align-self: center;
	background:#708090;//#444;
	//position: fixed;
	z-index: 9999;
	top:0px;
	box-shadow: 5px 5px 5px rgba(59, 43, 43, 0.3);
}

.logo{
	background:#444;
	padding:20px;
	padding-bottom:0px;
}
.main-nav{
	padding:5px;
	display:flex;
	flex-flow: row wrap;
	margin:0 auto;
	justify-content: flex-start;
	& > h1{
		display:inline-block;
		margin:0px;
		//margin-bottom:5px;
		font-size:1.5rem;
		perspective:500px;
		max-width:100%;
		flex:0 1 auto;
		padding:1px;

		&:hover a{
			//transform: scale(.9);
		}
	}
	& a{
		display:block;
		//background:#212121//#888;
		color:#eee;
		padding:5px 10px;
		text-decoration:none;
		transition:all 500ms ease;
		// border-bottom: 3px solid #eee;
		// box-shadow:0px 14px 2px -10px #333;
		max-width:100%;
		font-family: 'Raleway', sans-serif;
		font-weight:500;
		text-align: center;
		text-transform: capitalize;
		&:hover{
			//background:lighten(#708090,20%)//#555;
			color: whitesmoke;
		}
	}
}



.content-header{
	padding-bottom:1.5rem;
	width:100%;
	text-align:center;
	color:#708090;//#555;

}
.page-title{
	font-size:3rem;
	text-transform:capitalize;
}

.main-content-wrapper{
	padding: 0px 2vh;
	margin-top:40px;
}
.content-wrapper{
	width:100%;
	background:#fff;
	min-height:61vh;
	lost-utility: clearfix;
	display:flex;
	flex-flow: row wrap;

	& > *{
		float:left;
		padding:20px;
		//flex:12 1;
	}
	& label{
		color:#fff;
	}
	& h1,h2,h3,h4{
		color:whitesmoke;
	}
}

.nav-links{
	lost-utility:clearfix;
	margin-top:5px;
}

.nav-link{
	color:whitesmoke;
	padding:10px;
	font-weight: 300;
	display: inline-block;
	background:darken(#708090,30%);
}
.nav-link-next{
	float: right;
}

.alert{
	padding:5px;
	width:20rem;
	border-radius:5px;
	color:whitesmoke;
	& > ul{
		list-style:none;
		padding:0px;
		margin:0px;
		lost-utility: clearfix;

	}
}
.alert-success{
	background:#2ecc40;
}
.alert-danger{
	background:#9a1111;
}

.truck,.driver{
	color:#fff;
}
.main-content{
	width:80%;
	background:darken(#708090,20%);//#444;
	flex:1 1 80%;

	& > h1{
		text-transform:capitalize;
	}
}
.main-sidebar{
	width:20%;
	flex:1 1 20%;
	background:#555;
	display:none;
}

#googleMap{
  width:100%;
  max-width:100%;
  min-height:380px;
  height:500px;
}

.form-group{
	padding:5px;
	& > *{
		display:block;
	}
	& > label{
		font-size: 1.1rem;
		margin-bottom:5px;
		text-transform:capitalize;
	}
	input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] {
		width:20rem;
	}
	& input,select{
		border:0px;
		max-width:100%;
	}
	& input[type="submit"]{

		padding:10px;
	}
}

.main-footer{
	padding:20px;
	width:100%;
	background:#708090;//#444;
	min-height:100px;
	margin-top:50px;
}

@media all and (max-width:60.4444444em) {
	.main-content-wrapper{
		padding: 0px;
	}
}

@media all and (max-width:56.0833333em) {
	.page-title{
		font-size:2rem;
	}
	.content-wrapper > *{
		padding:0px;
	}
	.content-table{
		overflow: auto;
	}
	.main-content{

		& > table{
			max-width:100%;
		}
	}
	.main-nav{
		padding:5px;
		& > h1{
			font-size: 1em;
			margin-bottom:0px;
		}
	}
}



@media all and (max-width:30.8125em) {
	.main-nav{
		display: block;
		& > h1{
			width: 100%;
		}
	}
}
