@import "libs/_normalize.styl";
@import "_util.styl";

body{
	min-height:100vh;
	//background:whitesmoke;
	font-family: 'Roboto', sans-serif;
	& *{
		font-family: 'Roboto', sans-serif;
	}
}

.main-container{
	min-height:100vh;
	width:100%;
	//background-image: linear-gradient(-90deg, rgb(119, 138, 145,.5), #88aa7e);
	background: rgba(102, 149, 134,.05);
	//border:2vh solid #fff;
	padding:2vh;
	//display:flex;
	//flex-flow: row wrap;
	//align-items: stretch;
}

.main-header, .main-content-wrapper, .main-footer {
  flex: 1 100%;
}

.main-header{
	width:100%;
	align-self: center;
	margin-bottom:10px;
	background:#444;
}

.logo{
	background:#444;
	padding:20px;
	padding-bottom:0px;
}
.main-nav{
	padding:20px;
	padding-bottom:10px;
	display:flex;
	flex-flow: row wrap;
	background:#444;
	width:80%;
	margin:0 auto;
	& > h1{
		display:inline-block;
		margin:0px;
		margin-bottom:10px;

		font-size:1.5rem;
		perspective:500px;
		max-width:100%;
		flex:1 auto;
		padding:1px;

		&:hover a{
			transform: scale(.97);
		}
	}
	& a{
		display:block;
		background:#212121//#888;
		color:#fff;
		padding:10px;
		text-decoration:none;
		transition:all 500ms ease;
		box-shadow:0px 14px 2px -10px #333;
		max-width:100%;
		font-family: 'Raleway', sans-serif;
		font-weight:100;
		&:hover{
			background:lighten(#212121,5%)//#555;
		}
	}
}

.info-bar{
	background:#555;
	padding:5px;
	lost-utility: clearfix;
	margin-bottom:2px;
	text-transform:capitalize;
	top:0px;
	position:fixed;
	width:100%;
	z-index: 99999;
	& > a{
		//box-shadow:5px 5px 5px #333;
		text-decoration:none;
	}
}

.content-header{
	background:#333;
	padding:1.1rem;
	width:100%;
	text-align:left;
	color:whitesmoke;
}
.page-title{
	font-size:3rem;
	font-weight:200;
	text-transform:capitalize;
}
.content-wrapper{
	width:100%;
	background:#fff;
	min-height:61vh;
	lost-utility: clearfix;
	display:flex;
	flex-flow: row wrap;

	& > *{
		float:left;
		padding:20px;
		//flex:12 1;
	}
	& label{
		color:#fff;
	}
	& h1,h2,h3,h4{
		color:whitesmoke;
	}
}

.alert{
	padding:5px;
	width:20rem;
	border-radius:5px;
	color:whitesmoke;
	& > ul{
		list-style:none;
		padding:0px;
		margin:0px;
		lost-utility: clearfix;

	}
}
.alert-success{
	background:#2ecc40;
}
.alert-danger{
	background:#9a1111;
}

.truck,.driver{
	color:#fff;
}
.main-content{
	width:80%;
	background:#444;
	flex:1 1 80%;

	& > h1{
		text-transform:capitalize;
	}
}
.main-sidebar{
	width:20%;
	flex:1 1 20%;
	background:#555;
	display:none;
}

#googleMap{
  width:100%;
  max-width:100%;
  min-height:380px;
  height:500px;
}

.form-group{
	padding:5px;
	& > *{
		display:block;
	}
	& > label{
		margin-bottom:5px;
		text-transform:capitalize;
	}
	input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] {
		width:20rem;
	}
	& input,select{
		border:0px;
		max-width:100%;
		//width:50%;
	}
	& input[type="submit"]{

		padding:10px;
	}
}

.main-footer{
	padding:20px;
	width:100%;
	background:#444;
	min-height:100px;
	margin-top:10px;
}
